/*main header*/
.mainheader{
	width:970px;
	background-color: #ffffff;
	height: 58px;
	position:absolute;
}
h1{
	height: 40px;
	font-size: 36px;
	margin-top: 24px;
	width: 200px;
	background-color: #4aaaa5;
	border-color: #cccccc;
	border-style:solid; ;
	float: left;
	margin-left:30px;
	text-align: center;
	color: white;
}
h2{
	margin-left: 20px;
	margin-top: 20px;
}
.miniheader{
	float:right;
	margin: 30px 5px 5px 0px;
	border-color:#cccccc;
	border-right-style: solid;
	color: #777777;
	padding-right: 3px;
}
/*body*/
body{ background-image: url("../images/concrete-texture.png")
}
/*main article*/
.content{
	width: 970px;
}
.aboutme{
	width: 650px;
	position: relative;
	border-style: solid;
	border-color: #dddddd;
	background-color: #ffffff;
	margin-top: 33px;
	margin-left: 30px;
}
.Headercolor{
	background-color: #ffffff;
	color: #4aaaa5;
	height: 50px;
	border-bottom-style: solid;
	border-color: #cccccc;
	padding-top: 20px;
	font-size: 22px;
}
.paragraphstyle {
	padding:0px 20px 20px 20px;
	color: #777777;
}
aside{
	float: right;
	border-style: solid;
	border-color: #dddddd;
	width: 270px;
	text-align: center;
	margin-top:20px;
	background-color: #ffffff;
	position: relative;
	bottom: 730px;
}
/*profile image*/
.Portfolioimg{
	width: auto;
	height: auto;
	margin-left:90px;
	padding-bottom: 20px;
	padding:0px 20px;
}
/*icons*/
a img{
	position:relative;
	margin-left:5px;
	height: 50px;
	width: 50px;
	float:left;
	left:50px;
	padding-bottom: 20px
}
/*footer*/
.content {
	height: auto;


}
footer {
	height:20px;
	width: 970px;
	background-color: #666666;
	text-align: center;
	color: #ffffff;
	padding:20px;
	border-top-style: solid;
	border-color: #4aaaa5;
	border-width: 10px;
	margin-top:100px;
}
/*form page style*/
.formformat{
	width: 970px
	height: auto;
}
form{
	float:left;
	border-style: solid;
	border-color: #cccccc;
	background-color: #ffffff;
	width: 650px;
	margin-top:40px;
	margin-left: 30px;
}
input{
	width: 600px;
	margin: 0px 20px 0px 20px;
	height: 30px;
	border-color: #cccccc;
	color: #cccccc;
	margin-bottom: 20px;
}
textarea {
	width: 600px;
	margin: 0px 20px 0px 20px;
	height: 300px;
	color:#cccccc;
	border-color:#cccccc;
}
input[type=button], input[type=sumbit], input[type=send]{
	background-color: #4aaaa5;
	color: #ffffff;
	width:200px;
	margin-top:20px;
}
.social2{
	float: right;
	border-style: solid;
	border-color: #dddddd;
	width: 270px;
	text-align: center;
	margin-top:40px;
	background-color: #ffffff;
	position: relative;
}
/*porfolio page style*/
/*porfolio images*/
img{
	margin-left: 30px;
	position: relative;
	height: 350px;
	width: : 350px;
}
.picturelabel{
	font-size: 22px;
	margin-left: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
	width: 200px;
	text-align: center;
	position: relative;
	bottom: 40px;
}
.row1{
	float:left;
}
.row2{
	float:left;
}
.portfolioicons{
	height: 1950px;
	width: 650px;
	background-color:#ffffff;
	margin-left: 30px;
}

.social3{
	float:right;
	border-style: solid;
	border-color: #dddddd;
	width: 270px;
	text-align: center;
	margin-top: 40px;
	background-color#ffffff;
	position: relative;
	bottom: 1990px;

}

@media only screen and (max-width: 960px){
}

@media only screen and (max-width: 768px){
		.content{
			height: 800px;
			width: 50%;
		}
		.mainheader{
			width: 750px;
		}
		.aboutme{
			height:auto;
			width: 750px;
			margin-left:0px;
		}
		.Portfolioimg{
			float: left;
			height: 200px;
			width: 250px;
			margin-left: 0px;
		}
		article {
			width: 750px;
			height: auto;
		}
		aside{
			height: 100%;
			width:100%;
			bottom:-50px;
			left:100px;

		}
		footer{
			width: 750px;
		}

		textarea{
			height: 200px;
		}
		img{
			height: 170px;
			width: 250px;
		}
		.portfolioicons{
			height: 670px;
		}
		.row2 {
			float:left;
			position: relative;
			bottom: 29px;
		}
		.social3{
			bottom:40px;
		}

}
@media only screen and (max-width: 640px){
	.content{
		width: 630px;
		height:1000px;
	}
	.mainheader{
		background-color: transparent;
		width: 630px;
		height: 100px;
	}
	h1{
		width:630px;
		font-size: 30px;
		text-align: center;
		margin-left: 0px;
	}
	.miniheader{
		margin:0px;
		height: 40px;
		width: 202px;
		font-size: 20px;
		text-align:center;
	}
	.aboutme {
		width: 630px;
		height: 600px;
		margin-left: 0px;
		margin-top: 100px;
	}
	.Headercolor{
		padding-top: 0px;
	}
	.Portfolioimg {
		height: 300px;
		width: 300px;
		left: 130px;
		margin-bottom: 0px;
		float: none;
	}
	aside {
		width: 270px;
		left: -200px;
	}
	footer {
		width: 630px;
	}
	form {
		width: 630px;
		margin-top: 100px;
		margin-left: 0px;
	}
	.social2{
		right: 170px;
	}
	.content2{
		height: 2800px;
	}
	.portfolioicons{
		margin-left: 0px;
		width: 630px;
		position: relative;
		top: 50px;
		height: 2450px;
	}
	img {
		height: 440px;
		width: 480px;
		left: 40px;
	}
	.row2{
		position: relative;
		top: 10px;
	}
	.picturelabel{
		font-size: 38px;
		position: relative;
		bottom: 40px;
		left: 40px;
		width: 480px;
	}
	.social3{
		top: 50px;
	}
}